.pic-ctn {
    height: 300px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    height: 400px;
    margin-top: 20px;
}

.rounded-full {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pic-ctn>.card-img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 20s infinite;
}

.card-img:nth-child(2) {
    animation-delay: 5s;
}

.card-img:nth-child(3) {
    animation-delay: 10s;
}

.card-img:nth-child(4) {
    animation-delay: 15s;
}

@media screen and (max-width:670px) {
    .pic-ctn {

        height: 500px;

    }

}